@charset "utf-8";

h4, h5, h6,
h1, h2, h3{margin-top:0;}
ul, ol, li{margin:0; padding:0; list-style:outside none none;}
p{margin:0;}
html, body{
  font-family:'Titillium Web', 'Microsoft YaHei';
  font-size:100%;
}
body a:hover{
  transition:0.3s all;
  -webkit-transition:0.3s all;
  -moz-transition:0.3s all;
  -ms-transition:0.3s all;
  -o-transition:0.3s all;
}

*, *:after, *:before{ border-box; box-sizing:border-box; }
.mgn10{margin:10px;}
.mgn20{margin:20px;}
.mgn30{margin:30px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.mt70{margin-top:70px;}
.mt75{margin-top:75px;}
.mt110{margin-top:110px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb80{margin-bottom:80px;}
.mb85{margin-bottom:85px;}
.mb100{margin-bottom:100px;}
.mb115{margin-bottom:115px;}
.mb150{ margin-bottom:150px;}
.mb170{ margin-bottom:170px;}
.mr10{margin-right:10px;}
.mr-15{margin-right:-15px;}
.mr_5{margin-right:5px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml-10{margin-left:-10px;}
.ml-20{margin-left:-20px;}
.mr_45{ margin-right:45px;}
.mgn20_auto{margin:20px auto;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pd0{padding:0px;}
.pd10{padding:10px;}
.pd20{padding:20px;}
.pd30{padding:30px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.lh10{line-height:10px;}
.lh20{line-height:20px;}
.lh30{line-height:30px;}
.pr10 { padding-right:10px;}
.pr20 { padding-right:20px;}
.m0a { margin:0 auto;}
.pad_30{ padding:0 30px;}
.img_mato{ display:block; margin:auto; max-width:100%;}

.fl{float:left;}
.fr{float:right;}
.txtctr{text-align:center;}
.txtleft{text-align:left;}
.txtright{text-align:right;}
.text_indent{ text-indent:2em;}
.font16{font-size:16px;}

@font-face {
    font-family: 'helveticaneueregular';
    src: url(../fonts/helveticaneue-webfont.woff) format('woff'),
         url(../fonts/helveticaneue-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;

}
.mainNav{background-color:rgba(0,0,0,0.2); width: 100%; position: absolute; top: 0; z-index: 1000;}
.mainNavFix{background-color:rgba(0,0,0,0.5); position:fixed; top:0; z-index:400;transition: all 0.4s; -webkit-transition: all 0.4s;}




/*内页没有banner时的导航背景*/
.no_banner_bg{ background:#1db291 !important;}
.no_banner_bg .navbar-default .navbar-nav > .active > a{ background:#3a9984 !important;}

/* top nav */

.mainTop_nav a{color:#FFF; font-size:14px; margin-right:0px;}
.mainTop_nav a:hover{color:#e0e0e0;}
.mainTop_nav .tel{ margin-right:10px;font-size: 12px;}
.mainTop_nav .android em, .mainTop_nav .cur, .mainTop_nav .weixin, .mainTop_nav a.weibo, .mainTop_nav a.weibo:hover, .menu .mu-til, .menu a i, .sel-list a:hover i, .set-list .my-set i, .set-list a.nv-set i {
  background: url(../img/i-ws.png) no-repeat;
}
.mainTop_nav .weixin, .mainTop_nav a.weibo {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  float: right
}
.mainTop_nav a.weibo {
  background-position: 0 -64px;
  margin-top: 5px
}
.mainTop_nav a.weibo:hover {
  background-position: 0 -29px
}
.mainTop_nav .weibxo {
  display: inline;
  padding-right:5px;
  float: right;
  width: 40px
}
.mainTop_nav .weixin {
  background-position: 3px -149px;
  padding: 0px 0 0 3px;
  display: inline-block
}
.mainTop_nav a.weixin:hover {
  background-position: 3px -107px
}
.mainTop_nav .weixin i {
  background: url(../img/top_weixin.png) left top no-repeat;
  right: 115px;
  top: 32px
}
.mainTop_nav .help{ margin-right:20px;font-size: 12px;}
.mainTop_nav .android i, .mainTop_nav .community i, .mainTop_nav .weixin i{
  position: relative;
  width: 181px;
  height: 200px;
  z-index: 1000000;
  top: 30px;
  display: none;
}

.head_warp{margin:0 auto;width:1200px\9;}
.navbar-default .tel{float:right; margin-top:20px;}
.navbar-nav .active:before{
  content:'';
  position:absolute;
  top:0px;
  width:100%;
  height:3px;
  z-index:1000;
}
.country{float:left;}
.country img{vertical-align:top; margin-top:2px;}
.country .btn{padding: 6px 0px; background:transparent;}
.country .btn .caret{background:transparent; color: #FFF;}

.btn-reg {
  float: left;
  color: #fff;
  background-color:rgba(0,0,0,0.4);
  border-radius:5px 0 0 5px;
  padding-left: 15px;
}
.btn-reg:hover,
.btn-reg:focus,
.btn-reg.focus,
.btn-reg:active,
.btn-reg.active{
  color: #fff;
  background-color:rgba(0,0,0,0.3);
}

.btn-log {
  float: left;
  color: #609e7c;
  background-color:#FFF;
  border-radius:0 5px 5px 0;
  margin-right:15px;
  padding-right: 15px;
 }
.btn-log:hover,
.btn-log:focus,
.btn-log.focus,
.btn-log:active,
.btn-log.active{
  color: #488e68;
  background-color:#e5e5e5;
}

/* btn-index-1 */
.btn-index-1 {
  color: #6794c0;
  border-color: #6794c0;
  overflow: hidden;
  position: relative;
}
.btn-index-1:before, .btn-index-1:after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  top: 0;
  background-color: #6794c0;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.btn-index-1:before {
  left: -30px;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
}
.btn-index-1:after {
  right: -30px;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
}
.btn-index-1:hover {
  color: #fff;
}
.btn-index-1:hover:before, .btn-index-1:hover:after {
  width: 80%;
}


/*.btn-try:hover,
.btn-try:focus,
.btn-try.focus,
.btn-try:active,
.btn-try.active{
  color:#FFF;
  background-color:#3d76ae;
}
*/

.btn-qq{
  background:url(../img/i-qq.png) 11px center no-repeat;
  border-radius:0;
  width:52px;
  height:52px;
  font-size:16px;
  background-color:#FFF;
  border:1px solid #3d76ae;
  border-radius:6px;
 }
.btn-qq:hover,
.btn-qq:focus,
.btn-qq.focus,
.btn-qq:active,
.btn-qq.active{
  color:#FFF;
  background-color:#3d76ae;
}






/* 5. SLIDER */

  #slider{
    margin-top: 80px;
  }

  #home-carousel  .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 650px;
  }

  #home-carousel .item:before{
    background-color: #000;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
  }

  .carousel-caption {
    left: 15px;
    right: 15px;
    top: 50%;
    font-size: 15px;
    text-align: left;
    color: #fff;
    text-shadow: none;
    margin-top: -130px;
  }

  .carousel-caption h1 {
    font-size:46px;
    margin-bottom:0;
    line-height:27px;
    letter-spacing:2px;
    font-weight:100;
  }

  .carousel-caption h2 {
    font-size:81px;
    font-weight:600;
    margin-top:0px;
    text-transform:lowercase;
    letter-spacing:2px;
    margin-bottom:20px;
  }

  .home-carousel-left,
  .home-carousel-right {
    background-color: #f0f0f0;
    color:#000;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 32px;
    z-index: 999;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
  }

  .home-carousel-left {
    left:-32px;
  }

  .home-carousel-right {
    right:-32px;
  }

  #home-carousel:hover .home-carousel-left {
    left:0;
  }

  #home-carousel:hover .home-carousel-right {
    right:0;
  }
  /* Carousel animation */

  #home-carousel .item h1,
  #home-carousel .item h2,
  #home-carousel .item p {
    opacity:0;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  #home-carousel .item h1 {
    -webkit-transition: all 0.5s ease-in-out 0.15s;
    -moz-transition: all 0.5s ease-in-out 0.15s;
    -ms-transition: all 0.5s ease-in-out 0.15s;
    -o-transition: all 0.5s ease-in-out 0.15s;
    transition: all 0.5s ease-in-out 0.15s;
  }

  #home-carousel .item.active h1,
  #home-carousel .item.active h2,
  #home-carousel .item.active p {
    opacity:1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  #home-carousel .item h2 {
    -webkit-transition: all 0.5s ease-in-out 0.30s;
    -moz-transition: all 0.5s ease-in-out 0.30s;
    -ms-transition: all 0.5s ease-in-out 0.30s;
    -o-transition: all 0.5s ease-in-out 0.30s;
    transition: all 0.5s ease-in-out 0.30s;
  }

  #home-carousel .item p {
    -webkit-transition: all 0.5s ease-in-out 0.45s;
    -moz-transition: all 0.5s ease-in-out 0.45s;
    -ms-transition: all 0.5s ease-in-out 0.45s;
    -o-transition: all 0.5s ease-in-out 0.45s;
    transition: all 0.5s ease-in-out 0.45s;
  }



/* slide轮播图样式如下 */
/*.slide-main{height:640px;}
.slide-main .prev,.slide-main .next{display:block;width:52px;height:103px;position:absolute;z-index:222;top:50%; margin-top:-60px;overflow:hidden;cursor:pointer;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);_border:1px solid none;}
.slide-main .prev{left:70px;}
.slide-main .next{right:70px;}
.slide-main .prev:hover,.slide-main .next:hover,.nav-main a:hover,.nav-main a.cur{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
.slide-main .item li{float:left;}
.slide-main .item{display:block;height:5px;position:absolute;z-index:124;bottom:30px;left:50%;margin-left:-94px;text-align:center;}
.slide-main .item a{display:inline-block;border-radius:40px;margin-right:15px;background:#fff;opacity:0.8;-moz-opacity:0.8;filter:alpha(opacity=80);overflow:hidden;}
.slide-main .item a.cur{background:#fff;}
.slide-box,.slide_m{display:block;width:100%;height:auto;overflow:hidden; text-align:center;}
.slide-box{position:relative;}
.slide_m{display:none;height:640px;background:#ff6900;position:relative;position:absolute;z-index:8;}
#bgstylea{}
#bgstyleb{background:url("../img/banner02.jpg") top center;}
#bgstylec{background:url("../img/banner03.jpg") top center;}
#bgstyled{background:url("../img/banner04.jpg") top center;}*/


.m_notice{line-height:32px; height:32px; background-color:#333; font-size:14px; color:#999;}
.m_notice a{color:#dedede;}
.m_notice a:hover{color:#bcbcbc;}

.m_pro{padding-top:100px;}
.m_pro .p_item{text-align:center;}
.m_pro .p_item span{ font-size:22px; font-family: 'helveticaneueregular';text-align:center; font-weight: inherit; line-height:45px;letter-spacing:1px;}
.m_pro .p_item h3{font-weight:bold; text-align:center;    margin-top: 24px;
    margin-bottom: 5px;}
.m_pro .p_item p{font-size: 13px;
    text-align: left;
    padding: 0px 32px;
    line-height: 24px;
    display: block;
    height: 75px;}
.p_item .pic { height:160px;}

.flip-container{perspective:1000;transform-style:preserve-3d;}
.flip-container:hover .back{transform:rotateY(0deg);}
.flip-container:hover .front{transform:rotateY(180deg);}
.flip-container, .front, .back{width:100%;height:350px;}
.flipper{transition:0.6s;transform-style:preserve-3d;position:relative;}
.front, .back{backface-visibility:hidden;transition:0.6s;transform-style:preserve-3d;position:absolute;top:0;left:0;}
.front{z-index:2;transform:rotateY(0deg);}
.back{transform:rotateY(-180deg);}
.vertical.flip-container{position:relative;}
.vertical .back{transform:rotateX(180deg);}
.vertical.flip-container:hover .back{transform:rotateX(0deg);}
.vertical.flip-container:hover .front{transform:rotateX(180deg);}

.m-choose h6{font-size:18px;margin-top:10px; color:#666;text-align:center; padding:0 20px; background-color:#FFF; position:relative; display:inline-block;}
.m-choose p{text-align:left; font-size:18px; margin-top:6px;}
.m-choose .text-center a{font-size:14px; margin-top:12px; display:block; overflow:hidden;}

.m-choose .line{ height:54px; position:relative; text-align:center;}
.m-choose .flip-container .front{}
.m-choose .flip-container .front h4{font-size:18px; text-align:center; line-height:34px;}
.m-choose .flip-container .front p{text-align:center;}
.m-choose .flip-container .back{ padding:20px; text-align:center;}
.m-choose .flip-container .back h5{font-size:18px; color:#308be1; margin-top:20px; line-height:26px; text-align:center;}
.m-choose .flip-container .back p{ display:block; text-align:center; margin-top:20px; font-size:12px; padding:20px 10px; border-top:1px dashed #e5e5e5;border-bottom:1px dashed #e5e5e5;  line-height:15px; color:#333; height:132px; overflow:hidden;}

.m-service{clear:both; margin-top:20px; padding-top:60px; padding-bottom:100px; background:url(../img/bg-service.jpg) no-repeat;}
.m-service h5{color:#FFF; font-size:30px; text-align:center;}
.m-service h5 span{border-bottom:1px solid #FFF; padding-bottom:8px;}
.m-service .m-word{display:block; overflow:hidden;}
.m-service .m-word dt{color:#FFF; text-align:center; margin-top:26px;font-weight: normal; line-height:24px; font-size:14px;}
.m-service .m-word .item01{ margin:0 auto; width:180px; height:156px; background:url(../img/i-s01.png) no-repeat;}
.m-service .m-word .item02{ margin:0 auto; width:180px; height:156px; background:url(../img/i-s02.png) no-repeat;}
.m-service .m-word .item03{ margin:0 auto; width:180px; height:156px; background:url(../img/i-s03.png) no-repeat;}
.m-service .m-word h2{font-size:38px; font-weight:bold; color:#FFF; padding:46px 0 0 62px;}
.m-service .m-word p{font-size:14px; color:#FFF; margin-top:0px; padding-left:64px;}

.m-choose .carousel-control.left,.m-choose .carousel-control.right{background-image:none;}
.m-choose .carousel-control.left{margin-left:-120px; top:120px;}
.m-choose .carousel-control.right{margin-right:-120px; top:120px;}

.m-choose .carousel-indicators{bottom:-52px;}
.m-choose .carousel-indicators li{background-color:#eee; margin:5px; width:12px; height:12px;}
.m-choose .carousel-indicators .active{background-color:#ccc; width:12px; height:12px; border:1px solid #eee;}


.m-news{text-align:center; margin-top:50px; display:block; overflow:hidden;padding-bottom: 40px;}
.m-news .sub01{text-align:left;}
.m-news .sub01 h3{font-size:16px; margin-bottom:10px;}
.m-news .m-news-tit { width:30px; height:2px; display:block; background:#1dd2af; margin:0!important;}
.m-news .sub01 h6{ display:block; overflow:hidden; text-align:left; font-size:14px; background:url(../img/i-i01.png) 0px 10px no-repeat; padding-left:16px; line-height:29px;}
.m-news .sub01 h6 a { color:#333; display:inline-block; width:400px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height:24px;}
.m-news .sub01 h6 a:hover { color:#1dd2af;}
.m-news .sub01 h6 font{ float:right; color:#999;}
.m-news .sub01 .img{float:left;}
.m-news .sub01 .t-news{padding-left:15px; display:block; overflow:hidden;}
.m-news .sub01 .t-news h4{ font-size:14px; text-align:left; margin-bottom:10px;}
.m-news .sub01 .t-news p{font-size:12px; color:#666; text-align:left;}
.m-news .sub01 .t-news span{color:#999;}
.m-news .container{padding:0;}


.m-news h6{font-size:18px;margin-top:10px;color:#666;text-align:center; padding:0 20px; background-color:#FFF; position:relative; display:inline-block;}
.m-news p{text-align:center; font-size:18px; margin-top:6px;}
.m-news .text-center a{font-size:14px; margin-top:12px; display:block; overflow:hidden;}
.m-news .line{border-bottom:1px solid #eee;height:54px;position:relative; text-align:center;}

.m-parter h4{font-size:30px;text-align:center;}
.m-parter h6{font-size:18px;margin-top:10px;color:#666;text-align:center; padding:0 20px; background-color:#FFF; position:relative; display:inline-block;}
.m-parter p{text-align:center; font-size:18px; margin-top:6px;}
.m-parter .text-center a{font-size:14px; margin-top:12px; display:block; overflow:hidden;}
.m-parter .line{height:54px;position:relative; text-align:center;}

.m-media h4{font-size:30px;text-align:center;}
.m-media h6{font-size:18px;margin-top:10px;color:#666;text-align:center; padding:0 20px; background-color:#f2f2f2; position:relative; display:inline-block;}
.m-media p{text-align:center; font-size:18px; margin-top:6px;}
.m-media .text-center a{font-size:14px; margin-top:12px; display:block; overflow:hidden;}
.m-media .sub{margin-top:30px;}
.m-media .sub p{font-size:12px;}

.m-custom{background-color:#2a2a2a; padding:20px 0;}
.m-custom .tel{float:left;}
.m-custom .tel h4{font-size:18px; width:160px; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #e0e0e0;}
.m-custom .tel p{font-size:16px;}

.m-custom .tel span font { color:#6ba1d6; margin-right:6px;}
.m-custom .sub{background-color:#FFF; padding:15px; display:block; overflow:hidden;}


.foot-link{background:#333; padding:30px 0;}
.foot-link .f-logo img{float:left; margin-right:10px;}
.foot-link .sub h6{font-size:16px; color:#FFF; margin-bottom:10px;}
.foot-link .sub h5{font-size:14px; color:#FFF; margin-bottom:10px;}
.foot-link .sub a{font-size:12px; color:#bababa; line-height:24px;}
.foot-link .f-logo h4{font-size:14px; line-height:22px; color:#cacaca;}
.foot-link .f-logo h6{font-size:12px; color:#cacaca; line-height:22px;}

.link-warp{background-color:#2a2a2a;}
.link-warp p,.copyright p{float:left; color:#999; line-height:46px;    font-size: 12px;}
.link-warp a,.copyright a{color:#ccc; line-height:46px; margin:0 10px;    font-size: 12px;}
.link-warp a:hover,.copyright a:hover{color:#a4a4a4;}

.copyright{background-color:#2a2a2a; border-top:1px solid #444;}
.copyright .pull-right{color:#aaa;}


@font-face {
  font-family:'Bebas Neue';
  src: url('../fonts/BebasNeue.otf');
}
.m-service .i-tel font{float:left; font-family:'Bebas Neue'; font-size:38px; line-height: 38px; height: 38px;}

.btn-infoT {
  color: #fff;
  background-color:none;
  border-color: #FFF;
  border-radius:0;
  margin-right:10px;
 }
.btn-infoT:hover,
.btn-infoT:focus,
.btn-infoT.focus,
.btn-infoT:active,
.btn-infoT.active{
  color: #fff;
  background-color: #323648;
  border-color: #FFF;
}

.btn-real {
    color: #3ac88e;
    /* background-color: #ef3837; */
    padding: 10px 35px;
    border:none;
    border-radius: 3px;
    margin-right: 10px;
    /* opacity: 0.5; */
    background-color:#FFF}
.btn-real:hover,
.btn-real:focus,
.btn-real.focus,
.btn-real:active,
.btn-real.active{
  color: #26a470;
  background-color:#e5e5e5;
}

.btn-vtal {
    color: #fff;
    /* background-color: #ef3837; */
    padding: 10px 35px;
    border-radius: 3px;
    margin-right: 10px;
    /* opacity: 0.5; */
    background-color:#178f69;}
.btn-vtal:hover,
.btn-vtal:focus,
.btn-vtal.focus,
.btn-vtal:active,
.btn-vtal.active{
  color: #fff;
  background-color:#13815e;
}

.btn-infoC{
  color:#65e0db;
  background-color:#FFF;
  border:none;
  font-size:18px;
  padding:12px 50px;
  border-radius:4px;
  margin-right:10px;
 }
.btn-infoC:hover,
.btn-infoC:focus,
.btn-infoC.focus,
.btn-infoC:active,
.btn-infoC.active{
  color: #45b6b1;
  background-color: #f5f5f5;
  border-color: #FFF;
}

.btn-customer{
  color:#444;
  border:none;
  font-size:14px;
  padding:6px 14px 6px 34px;
  margin-right:10px;
  border-radius:3px;
  margin-right:10px;
  background:url(../images/ico_qq.png) 10px 3px no-repeat #FFF;
 }
.btn-customer:hover,
.btn-customer:focus,
.btn-customer.focus,
.btn-customer:active,
.btn-customer.active{
  color: #45b6b1;
  background-color: #f5f5f5;
  border-color: #FFF;
}

.btn-infoP{
  color:#FFF;
  background-color:#2d3e50;
  border:none;
  font-size:18px;
  padding:12px 50px;
  border-radius:4px;
  margin-right:10px;
 }
.btn-infoP:hover,
.btn-infoP:focus,
.btn-infoP.focus,
.btn-infoP:active,
.btn-infoP.active{
  color: #fff;
  background-color: #1e2d3c;
  border-color: #FFF;
}


.nl { min-height:1000px;}
.nl-top { height:106px; background:#2b3a51;}
.nl ul li { padding-top:24px; padding-bottom:24px; height:120px; border-bottom: dashed 1px #d7d7d7;}
.nl .nl-date { height:100%; border-right:1px solid #d7d7d7;}
.nl .nl-date .nl-date-day { display:block; margin-right:10px; font-size:40px; color:#999; text-align:right; font-family: Arial; line-height:50px;}
.nl .nl-date .nl-date-month { display:block; margin-right:10px; font-size:16px; color:#999; text-align:right;  font-family: Arial;}
.nl .nl-info .nl-info-tit { display:block; margin-left:14px; width:90%; font-size:16px; color:#333; }
.nl .nl-info .nl-info-text { display:block; margin-left:14px; width:94%; font-size:14px; color:#999; height:40px; overflow:hidden; margin-top:6px; line-height:21px;}

.nl-link .nl-link-tit { display:block; font-size:16px; color:#333; border-bottom: solid 1px #d7d7d7; line-height:44px;}
.nl-link ul { padding-top:10px;  padding-bottom:20px;}
.nl-link ul li { display:block; width:98%; overflow:hidden; font-size:14px; color:#333; line-height:34px;}
.nl-link ul li a { color:#333;}
.nl-link ul li a:hover { color:#2080d6;}
.nl-link ul li b { margin-right:10px;}

.bl { min-height:1000px;}
.bl .bl-info { padding:10px;}
.bl .bl-info .bl-info-tit { overflow:hidden;}
.bl .bl-info .bl-info-tit h4{ float:left; line-height:24px; margin-top:10px; color:#2080d6;}
.bl .bl-info .bl-info-tit .bl-info-date { float:right; line-height:24px; margin-top:10px; color:#999;}
.bl .bl-info p { font-size:14px; color:#999;}

.news_left{vertical-align: top;}
.news_left h3{ font-size:20px; color:#2f2f2f; margin:auto; text-align:center; margin-top:58px; margin-bottom:30px;}
.news_left .des{ display:block; width:100%; font-size:14px; color:#8d8d8d; text-align:center; margin:auto; margin-bottom:58px;}
.news_left p{ display:block; font-size:14px; color:#6e6d6d; margin:auto; line-height:30px; text-indent:2em;}
.new-left-body{min-height:1000px;}
.new-left-body-in{ width:100%; padding-top:30px; height:100%;background:#FFF;}
.news_left .new-left-body .new-l-b-t{padding:0 40px;}
.news_left .new-left-body .new-l-b-t h3{ font-size:20px; color:#2f2f2f; margin:auto; text-align:center; margin-bottom:30px;}
.news_left .new-left-body .new-l-b-t span{ display:block; width:100%; font-size:14px; color:#8d8d8d; text-align:center; margin:auto; margin-bottom:58px;}
.news_left .new-left-body .new-l-b-t p{ display:block; font-size:14px; color:#6e6d6d; margin:auto; line-height:30px; text-indent:2em;}
.list-bottom{ display:block; padding:0 40px; height:40px; margin:auto; margin-top:30px;}
.list-bottom li{ display:block; width:50%;}
.list-bottom span{ display:block;  color:#2080d6; font-size:14px; line-height:28px; float:left;}
.list-bottom a{ margin-left:10px; display:block;  color:#333; font-size:14px; float:left; line-height:28px;}
.foot-adress { padding:20px; height:210px; background:#6794c0 url(../img/foot-bg1.png) 414px 44px no-repeat;}
.foot-adress .foot-adress-tit { font-size:24px; color:#fff; font-family:Arial;}
.foot-adress .foot-adress-tit2 { display:block; margin-bottom:40px; font-size:16px; color:#fff;}
.foot-adress .foot-adress-spn { display:block; font-size:14px; color:#fff;}
.foot-hotline { padding:20px; height:210px; background:#fff url(../img/bot-tel.png) 330px 124px no-repeat;}
.foot-hotline .foot-hotline-tit { font-size:24px; color:#333; font-family:Arial;}
.foot-hotline .foot-hotline-tit2 { display:block; margin-bottom:40px; font-size:16px; color:#333;}
.foot-hotline .foot-hotline-abox { display:block; margin-top:47px;}
.foot-hotline .foot-hotline-abox a{ display:inline-block; margin-right:20px; background:url(../img/qq-btn.png) no-repeat; height:33px; width:107px; line-height:33px; padding-left:40px; color:#333; text-decoration:none;}
.foot-spn { display:block; padding-left:180px; margin-top:10px; margin-bottom:10px; background:url(../img/foot-logo.png) no-repeat left; color:#999; font-size:14px;}
.foot-spn font { font-size:12px; color:#777;}
.link-in .pull-right { margin-top:10px;}
.link-in .pull-right a { font-size:14px; line-height:40px;}
/* 大于320像素 */
@media only screen and (min-width:320px){
.navbar-default .navbar-collapse{max-height: 100% !important;}
.ouradv-li span font{
  width: 195px;
}
.ouradv-li{height: 245px;}
#slider{
  margin-top: 35px !important;
}
.navbar-toggle {
  margin-right: 40px !important ;
}

.advbox{
  height: 100%;
  padding-bottom: 50px;
}
.advbox.wow.fadeInUp.animated.animated{
  height: 100%;
  padding-bottom: 50px;
}



  /* 导航 */
  .head_warp{width:100%;}
  .navbar-default{background-color:#f8f8f8;border:none;}
  .navbar-default .navbar-brand{width:200px;padding:0px;}
  .navbar-default .navbar-brand img{width:90px;padding:0;margin-left: 15px;}
  .top_nav{padding:0;}
  .navbar-collapse{padding-right:0;}
  .navbar{margin-bottom:0px;}
  .navbar-collapse{ padding-left:0;}
  .navbar-nav{margin-left:0;margin-right:0;margin-top:0; width:100%;}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}
  .navbar-nav .open .dropdown-menu > li > a{ line-height:30px;}
  .navbar-default .tel{display:none;}
  .navbar-nav .active:before{
    height:3px;
  }
  .mainNav{position:relative;}
  .phone_none{display:none;}

  /* banner */
  .slide-main{height:auto; position:relative;}
  .slide-box,.slide_m{display:block;width:100%;overflow:hidden; text-align:center;}
  .slide_m{display:none;background:#ff6900;height:200px ;position:relative;z-index:8;}
  .b_phone{display:block;height:auto;}
  .b_pc{display:none;}
  .b_phone img{width:100%; height:auto; display:block; overflow:hidden;}
  .slide-main .prev,.slide-main .next{width:28px;height:auto; margin-top:-30px;}
  .slide-main .prev{left:10px;}
  .slide-main .next{right:10px;}
  .slide-main .prev img,.slide-main .next img {
    height: auto;
    width: 100%;
  }

  .container{
    width:100%;
  }
  .mainTop_nav { display:none;}
  .btn-index { visibility:hidden; padding:20px;
}
.m-plan{padding:20px 0 2px 0; background:#f2f2f2; background-size: 150% 90%;}
.m-choose{text-align:center; height:1400px; margin-top:20px; display:block; overflow:hidden;}
.m-parter{ display:none;}
.m-media{ display:none;}
.foot-link .sub{ display:none;}
.m-news .container .col-md-4{padding:0 20px 0 20px;}
.m-choose h4{font-size:18px;text-align:center;}
.m-news h4{font-size:20px;text-align:center;}
.we-banner { background:url(../img/wetrade/we-banner.png) no-repeat center; height:200px; width:100%; background-size:auto 100%;}
.news_left .new-left-body .new-l-b-t {padding:0px;}
.list-bottom li {display: block;width: 100%;}
.list-bottom {display: block;padding: 0px; height:100px;margin: auto;margin-top: 30px;}
.nl .nl-date .nl-date-month{ font-size:13px;}
.nl .nl-info .nl-info-tit{ font-size:14px;}
.nl .nl-info .nl-info-text{ font-size:12px;}
.nl_top_pd20{ padding:0px;}
.list-bottom a{ font-size:12px;}
.bl .bl-info .bl-info-tit .bl-info-date { display:inline-block; margin-bottom:20px;float: none;line-height: 24px;margin-top: 0px;color: #999;}
.nl_top_pd202{ padding:20px 0px;}
.mt4-prog-bg {padding-top: 140px;background-image: url(../img/mt4/mt4-icon-1.png);background-repeat: no-repeat;height: auto;}

.m-custom .tel h4 {font-size: 14px; width:auto;}
.m-custom .tel p {font-size: 12px;}
.m-custom .tel span { display:block; font-size:16px; line-height:30px;}
}

/* 大于768像素 */
@media (min-width:768px){
  /* 导航 */
  .head_warp{width:100%;}
  .navbar-default{background:transparent;border:none;}
  .navbar-default .navbar-nav > li > a{color:#000;padding:8px 14px;outline:0 none;}
  .navbar-default .navbar-brand{width:190px;padding:0px;}
  .navbar-default .navbar-brand img{width:100px;padding:4px 5px 5px 0;}
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{margin-top: 10px;padding-top: 18px;padding-bottom: 12px;color:#333;background-color: #d4d8dc;}
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{background-color:rgba(44,62,80,0.2);color:#333;}
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color:#e2eaf2;color:#333;}
  .navbar-default{border:none;}
  .navbar-default .navbar-collapse{float:right;margin-left:20px;}
  .navbar-default .navbar-nav > li > .dropdown-menu{margin-top:-1px;}
  .dropdown-menu > li > a{padding:6px 20px;}

  .navbar-default .tel{display:none;}
  .navbar-nav .active:before{
    height:3px;
  }
  .mainNav{background-color:#fff; width: 100%; position: absolute; top: 30px; z-index: 1000;}
  .mainNavFix{background-color:#f2f2f2; position:fixed; top:0; z-index:400;transition: all 0.4s; -webkit-transition: all 0.4s;}



  .phone_none{display:block;}

  /* banner */
  .slide-main{height:640px;position:relative;}
  .slide-box,.slide_m{display:block;width:100%;height:640px;overflow:hidden; text-align:center;}
  .slide_m{display:none;height:640px;background:#ff6900;position:absolute;z-index:8;}

  #bgstylea{background:url("../img/banner01.jpg") top center;}
  #bgstyleb{background:url("../img/banner02.jpg") top center;}
  #bgstylec{background:url("../img/banner03.jpg") top center;}
  #bgstyled{background:url("../img/banner04.jpg") top center;}
  .b_phone{display:none;}
  .b_pc{display:block;margin-top:-60px;}
  .obj_d03{display:none;}



  .slide-main .prev,.slide-main .next{width:52px;height:103px;}
  .slide-main .prev{left:70px;}
  .slide-main .next{right:70px;}
  .slide-main .prev img,.slide-main .next img {
    height: auto;
    width: 100%;
  }

  .container{
    width:100%;
  }
  .mainTop_nav{ display:block;background-color:#2c3e50; width:100%; height:30px; line-height:30px; /* position:absolute; */ z-index:9999999; font-size:14px; color:#FFF;}
  .btn-index {
  margin: 30px 20px;
  padding: 14px 36px;
  border-radius: 4px;
  border: 1px solid;
  font-size: 16px;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}
  .btn-index { visibility: visible;
  margin: 30px 20px;
  padding: 14px 36px;
  border-radius: 4px;
  border: 1px solid;
  font-size: 16px;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.m-plan{padding:40px 0 60px 0; margin-top:80px; background:#f2f2f2;}
.m-choose{text-align:center; height:100%;display:block; overflow:hidden;}
.m-parter{text-align:center; margin-top:100px; height:460px; display:block; overflow:hidden; background:url(../img/p-img.jpg) center 72px no-repeat;}
.m-media{text-align:center; margin-top:100px; height:300px; padding-top:40px; display:block; overflow:hidden; background:#f2f2f2;}
.foot-link .sub{ display:block;}
.m-news .container .col-md-4{padding:0 30px 0 0;}
.m-choose h4{font-size:30px;text-align:left;}
.m-news h4{font-size:30px;text-align:center;}

section#karbar-how-it-works-section{ padding-bottom: 50px;padding-top: 50px; }
.news_left .new-left-body .new-l-b-t {padding: 0 40px;}
.list-bottom li {display: block;width: 50%;}
.list-bottom {display: block;padding: 0 40px;height: 40px;margin: auto;margin-top: 30px;}
.nl .nl-date .nl-date-month{ font-size:16px;}
.nl .nl-info .nl-info-tit{ font-size:16px;}
.nl .nl-info .nl-info-text{ font-size:14px;}
.nl_top_pd20{ padding:20px;}
.list-bottom a{ font-size:14px;}
.bl .bl-info .bl-info-tit .bl-info-date {float: right;line-height: 24px;margin-top: 10px;color: #999;}
.nl_top_pd202{ padding:20px;}
.mt4-prog-bg {padding-top: 140px;background-image: url(../img/mt4/mt4-icon-1.png);background-repeat: no-repeat;height: 300px;}

.m-custom .tel h4 {font-size: 18px;width: 160px;}
.m-custom .tel p {
    font-size: 16px;
}
.m-custom .tel span { display: inline-block; font-size:16px; line-height:30px;}
}
/* 大于960像素 */
@media (min-width:992px){
  .head_warp{width:100%;}
  .navbar-default{height:100%;}
  .navbar-default .navbar-nav > li > a{color:#777;padding:28px 10px;}
  .navbar-default .navbar-brand{width:121px;}
  .navbar-default .navbar-brand img{width:121px;padding:0;}

  .navbar-default .tel{display:block;}
  .navbar-nav .active:before{
    height:3px;
  }

  .slide-box .slide_m .m_phone{display:none;}
  .slide-main{height:auto;position:relative;    padding-top: 106px;}
  .slide-box,.slide_m{display:block;width:100%;height:640px;overflow:hidden; text-align:center;}
  .slide_m{display:none;height:640px;background:#ff6900;position:absolute;z-index:8;}
  #bgstylea{background:url("../img/banner01.jpg") top center;}
  #bgstyleb{background:url("../img/banner02.jpg") top center;}
  #bgstylec{background:url("../img/banner03.jpg") top center;}
  #bgstyled{background:url("../img/banner04.jpg") top center;}
  .b_phone{display:none;}
  .b_pc{display:block;margin-top:0;}

  .container{
    width:100%;
  }
  .news_left .new-left-body .new-l-b-t {padding: 0 40px;}
.list-bottom li {display: block;width: 50%;}
.list-bottom {display: block;padding: 0 40px;height: 40px;margin: auto;margin-top: 30px;}
.nl .nl-date .nl-date-month{ font-size:16px;}
.nl .nl-info .nl-info-tit{ font-size:16px;}
.nl .nl-info .nl-info-text{ font-size:14px;}
.nl_top_pd20{ padding:20px;}
.list-bottom a{ font-size:14px;}
.bl .bl-info .bl-info-tit .bl-info-date {float: right;line-height: 24px;margin-top: 10px;color: #999;}
.nl_top_pd202{ padding:20px;}
.mt4-prog-bg {padding-top: 140px;background-image: url(../img/mt4/mt4-icon-1.png);background-repeat: no-repeat;height: 300px;}
  .m-custom .tel h4 {font-size: 18px;width: 160px;}
.m-custom .tel p {
    font-size: 16px;
}
}
/* 大于1200像素 */
@media (min-width:1200px){
  .head_warp{width:1200px;}
  .navbar-default .navbar-nav > li > a{color:#333;padding:28px 15px;font-size: 14px; cursor:pointer;}



  .container {
    width:1200px;
  }
  .news_left .new-left-body .new-l-b-t {padding: 0 40px;}
.list-bottom li {display: block;width: 50%;}
.list-bottom {display: block;padding: 0 40px;height: 40px;margin: auto;margin-top: 30px;}
.nl .nl-date .nl-date-month{ font-size:14px;}
.nl .nl-info .nl-info-tit{ font-size:16px;}
.nl .nl-info .nl-info-text{ font-size:14px;}
.nl_top_pd20{ padding:20px;}

.list-bottom a{ font-size:14px;}
.bl .bl-info .bl-info-tit .bl-info-date {float: right;line-height: 24px;margin-top: 10px;color: #999;}
.nl_top_pd202{ padding:20px;}
.mt4-prog-bg {padding-top: 140px;background-image: url(../img/mt4/mt4-icon-1.png);background-repeat: no-repeat;height: 300px;}

.m-custom .tel h4 {font-size: 18px;width: 160px;}
.m-custom .tel p {
    font-size: 16px;
}

}
@media \0screen\,screen\9{ /*只对IE6/7/8有效*/
.container{ width:1200px; margin:auto;}

/*nav css*/
.navig li .scroll{ height:76px !important; line-height:76px !important;}

  .slide-main{height:640px;position: absolute;}
  .slide-box,.slide_m{display:block;width:100%;height:640px;overflow:hidden; text-align:center;}
  .slide_m{display:none;height:640px;background:#ff6900;position:absolute;z-index:8;}



  .slide-main{height:640px;position:relative;}
  .slide-box,.slide_m{display:block;width:100%;height:640px;overflow:hidden; text-align:center;}
  .slide_m{display:none;height:640px;background:#ff6900;position:absolute;z-index:8;}
  #bgstylea{background:url("../img/banner01.jpg") top center;}
  #bgstyleb{background:url("../img/banner02.jpg") top center;}
  #bgstylec{background:url("../img/banner03.jpg") top center;}
  #bgstyled{background:url("../img/banner04.jpg") top center;}
  .b_phone{display:none;}
  .b_pc{display:block;margin-top:0;}
  .foot-link .col-md-2{ width:195px; float:left;}
.m-custom .col-md-4{ width:390px; float:left;}
.IE_footer_md6{ width:50%; float:left;}
.mainTop_nav {display: block;background-color:#333;width: 100%;height: 30px;line-height: 30px;font-size: 14px;color: #FFF;}


.carousel-control.right{ background-image:none !important; background:#fff !important; background-color:none !important;}
.carousel-control{ background:none !important; background-image:none !important; background-color:none;}
.carousel-control.left{ background-image:none !important; background:#fff !important; background-color:none !important;}
}
@media screen\9{ /*只对IE6/7生效*/
/*nav css*/
.navig li .scroll{ height:76px !important; line-height:76px !important;}
}



/* 5. SLIDER */

  #slider{
    margin-top: 55px;
  }

  #home-carousel  .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 650px;
  }

  #home-carousel .item:before{
    background-color: #000;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
  }

  .carousel-caption {
    left: 15px;
    right: 15px;
    top: 50%;
    font-size: 15px;
    text-align: left;
    color: #fff;
    text-shadow: none;
    margin-top: -130px;
  }

  .carousel-caption h1 {
    font-size:46px;
    margin-bottom:0;
    line-height:27px;
    letter-spacing:2px;
    font-weight:100;
  }

  .carousel-caption h2 {
    font-size:66px;
    font-weight:600;
    margin-top:0px;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:20px;
  }

  .home-carousel-left,
  .home-carousel-right {
    background-color: #f0f0f0;
    color:#000;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 32px;
    z-index: 999;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
  }

  .home-carousel-left {
    left:-32px;
  }

  .home-carousel-right {
    right:-32px;
  }

  #home-carousel:hover .home-carousel-left {
    left:0;
  }

  #home-carousel:hover .home-carousel-right {
    right:0;
  }
  /* Carousel animation */

  #home-carousel .item h1,
  #home-carousel .item h2,
  #home-carousel .item p {
    opacity:0;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  #home-carousel .item h1 {
    -webkit-transition: all 0.5s ease-in-out 0.15s;
    -moz-transition: all 0.5s ease-in-out 0.15s;
    -ms-transition: all 0.5s ease-in-out 0.15s;
    -o-transition: all 0.5s ease-in-out 0.15s;
    transition: all 0.5s ease-in-out 0.15s;
  }

  #home-carousel .item.active h1,
  #home-carousel .item.active h2,
  #home-carousel .item.active p {
    opacity:1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  #home-carousel .item h2 {
    margin-top: 70px;
    width: 200%;
    -webkit-transition: all 0.5s ease-in-out 0.30s;
    -moz-transition: all 0.5s ease-in-out 0.30s;
    -ms-transition: all 0.5s ease-in-out 0.30s;
    -o-transition: all 0.5s ease-in-out 0.30s;
    transition: all 0.5s ease-in-out 0.30s;
  }

  #home-carousel .item p {
    -webkit-transition: all 0.5s ease-in-out 0.45s;
    -moz-transition: all 0.5s ease-in-out 0.45s;
    -ms-transition: all 0.5s ease-in-out 0.45s;
    -o-transition: all 0.5s ease-in-out 0.45s;
    transition: all 0.5s ease-in-out 0.45s;
  }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
  .mainNavFix{background-color:#f2f2f2; position:fixed; top:0; z-index:400;transition: all 0.4s; -webkit-transition: all 0.4s;}

@media (max-width: 768px){
  .m-choose{height: 100%;}
}
.rankadv .container{
  padding-left: 0 !important;
}
.container .col-md-4{
  padding-left: 0 !important;
}


	#portfolio {
	  background-image: url("../images/portfolio.jpg");
	}
	.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.service-section, .first-widget {
  position: relative;
  margin-top: 50px;
}
.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.65);
}
.pageTitle {
  padding-top: 90px;
  padding-bottom: 90px;
}
.parallax-overlay-2 {
  background-color: rgba(0, 0, 0, 0.3);
}
#portfolio-2 {
	  background-image: url("../images/portfolio-2.jpg");
	}
#fh5co-about,#fh5co-blog,#fh5co-work-section{
	padding-bottom: 7em;
}

.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}
.fh5co-heading{
	margin-bottom: 3em;
}

.fh5co-staff img:hover{
  -webkit-transform:rotate(45deg) scale(0.5);
  -webkit-transition:-webkit-transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	transition: all 0.8s ease-in-out;
	transform: rotate(45deg);
}
.fh5co-staff img{
  -webkit-transform:rotate(0deg) scale(1);
  -webkit-transition:-webkit-transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	padding-top: 10%;
	padding-bottom: 10%;
	margin: 0 auto;
}
.fh5co-staff h3{
	text-align: center;
}
.fh5co-staff .role{
	margin-left: 35%;
}
.advbox.wow.fadeInUp.animated.animated{
	padding: 0;
}
.work{
    background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}
.work .view {
  width: 100%;
  height: 400px;
  display: table;
  opacity: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.work .view span, .work .view i {
  height: 400px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}
/* 解决问题 */
.title-line{
  width: 50px;
  height: 2px;
  margin: 0px auto 10px auto;
  background-color: #101010;
}
.sec-title-container h2,
.subscribe-content-inner h2 {
    line-height: 40px;
}

#how-it-works {
    padding-bottom: 80px;
}
.font-weight-7 {
    font-weight: 700;
}
@media (max-width: 767px) {
    h2 {
        font-size: 30px;
        line-height: 2.5rem;
        margin-bottom: 15px;
    }

}
.step-number {
    background: #2098F5;
}
.step-number {
    width: 68px;
    height: 68px;
    background: #2098F5;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin: auto;
}

.step-number span {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.how-it-works .row:not(:last-child) {
    margin-bottom: 3em;
}
.text-center img:hover{
  color: #000;
}
/***

====================================================================
    6. services style
====================================================================

***/

.service-left-side:hover,
.service-left-side.active {
    border: 1px solid #2098F5;
    outline-color: #2098F5;
    outline-style: double;
    outline-width: 1px;
    outline-offset: 7px;
    background: url(../images/ce4-11-hover.png) right center no-repeat;
}

.service-right-side:hover,
.service-right-side.active {
    border: 1px solid #2098F5;
    outline-color: #2098F5;
    outline-style: double;
    outline-width: 1px;
    outline-offset: 7px;
    background: url(../images/ce4-11-hover.png) right center no-repeat;
}

.service-left-side {
    display: table;
    position: relative;
    width: 92%;
    float: left;
    padding: 40px 160px 40px 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    outline-color: #ddd;
    outline-style: double;
    outline-width: 1px;
    outline-offset: 7px;
    background: url(../images/ce4-11.png) right center no-repeat;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.margin-bottom {
    margin-bottom: 0px;
}

.service-left-side:hover .circle,
.service-left-side.active .circle {
    color: #fff;
    background-color: #2098F5;
    border: 6px solid #2098F5;
}

.service-left-side .circle {
    position: absolute;
    width: 110px;
    height: 110px;
    float: left;
    z-index: 2;
    right: -50px;
    font-size: 18px;
    color: #101010;
    line-height: 97px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    border: 6px solid #f5f5f5;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.text-box {
    width: 100%;
    float: left;
}

.service-left-side:hover .title,
.service-left-side.active .title {
    color: #2098F5;
}

.service-right-side:hover .title,
.service-right-side.active .title {
    color: #2098F5;
}

.title {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}


/* right side */

.service-right-side {
    display: table;
    position: relative;
    width: 92%;
    float: right;
    padding: 40px 40px 40px 160px;
    background-color: #fff;
    border: 1px solid #ddd;
    outline-color: #ddd;
    outline-style: double;
    outline-width: 1px;
    outline-offset: 7px;
    background: url(../images/ce4-12.png) left center no-repeat;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-bottom: 50px;
}

.service-right-side .circle {
    position: absolute;
    width: 110px;
    height: 110px;
    float: left;
    z-index: 2;
    left: -50px;
    font-size: 18px;
    color: #101010;
    line-height: 97px;
    text-align: center;
    border-radius: 100%;
    background-color: #fff;
    border: 6px solid #f5f5f5;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.text-box {
    width: 100%;
    float: left;
}

.service-right-side:hover {
    background: url(../images/ce4-12-hover.png) left center no-repeat;
}

.service-right-side:hover .circle {
    color: #fff;
    background-color: #2098F5;
    border: 6px solid #2098F5;
}

.circle i {
    font-size: 50px;
    width: 80px;
    height: 80px;
    line-height: 100px;
    color: #f5f5f5;
}

@media (max-width: 991px) {
    .service-left-side,
    .service-right-side {
        margin-bottom: 35px;
    }
}

@media (max-width: 479px) {
    .service-left-side .circle,
    .service-right-side .circle {
        position: relative;
        float: none;
        right: 0px;
        left: 0px;
        text-align: center;
        margin: 0 auto 15px auto;
    }
    .service-left-side,
    .service-right-side {
        background-image: none;
        padding: 15px;
        width: 96%;
        float: none;
        text-align: center;
        margin: 0 auto 35px auto;
    }
    .service-left-side.active,
    .service-left-side:hover,
    .service-right-side:hover {
        background-image: none;
    }
}
.less-mar-1{font-size: 3rem;}

/* end services */
/***

====================================================================
    7. why choose us style
====================================================================

***/

.sec-title-container {
    width: 100%;
    float: left;
    padding-bottom: 30px;
    text-align: center;
}

.why-choose-us {
  padding-bottom: 90px;
    padding-top: 120px;
}

#karbar-why-choose-section {}

#karbar-why-choose-section .title-line {
    margin: 0px auto 5px auto;
}


.section-light {
    background: -webkit-linear-gradient( rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.5)), url(../images/wchoose-bg.jpg) 50% 0 no-repeat fixed;
    background: linear-gradient( rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.5)), url(../images/wchoose-bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}

.section-dark {
    background: -webkit-linear-gradient( rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.5)), url(../images/wchoose-bg.jpg) 50% 0 no-repeat fixed;
    background: linear-gradient( rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.5)), url(../images/wchoose-bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}

.k-why-choose-us-main .k-why-choose-us {
    background-color: #eee;
    float: left;
    left: -30px;
    padding: 25px;
    position: relative;
    top: -30px;
    width: 100%;
    z-index: 2;
}

.k-why-choose-us-main .dark-why-choose-us {
    background-color: #333;
}

.margin-bottom {
    margin-bottom: 0px;
}

.k-why-choose-us-main .border-box {
    border: 1px solid #2098F5;
    outline-color: #2098F5;
    outline-style: double;
    outline-width: 1px;
    outline-offset: 7px;
    float: left;
    left: 18px;
    min-height: 536px;
    position: absolute;
    top: 4px;
    width: 94%;
    z-index: 1;
}

.padding-left-4 {
    padding-left: 40px;
}

.sec-title-container {
    width: 100%;
    float: left;
    padding-bottom: 70px;
}

.sec-title-container {
    width: 100%;
    float: left;
    padding-bottom: 70px;
}

.uppercase {
    text-transform: uppercase;
}

h5.less-mar-1 {
    margin-bottom: 3px;
}

.ce-sub-title {
    color: #443b97;
    margin-top: 18px;
}

.font-weight-4 {
    font-weight: 400;
}

.iconbox-smedium i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    border: 1px solid #fff;
    outline: 1px solid #fff;
    outline-offset: 7px;
    display: inline-block;
    position: absolute;
    margin-top: 15px;
}

.wc-dark-style i {
    background: #333;
    border: 1px solid #333;
    outline: 1px solid #333;
}

.why-choose-single {
    margin-bottom: 30px;
}

.iconbox-smedium i {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.why-choose-single:hover .iconbox-smedium i {
    color: #fff;
    background: #2098F5;
    border: 1px solid #2098F5;
    outline: 1px solid #2098F5;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media screen and (max-width: 1024px) {
    .k-why-choose-us-main .border-box {
        min-height: 445px;
    }
}

@media screen and (max-width: 768px) {
    .k-why-choose-us-main .k-why-choose-us {
        left: 0;
    }
}

@media (max-width: 1023px) {
    .k-why-choose-us-main .border-box {
        display: none;
    }
}

@media (max-width: 767px) {
    .k-why-choose-us-main .k-why-choose-us {
        background-color: none;
        float: none;
        left: 0px;
        padding: 0px;
        top: -30px;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
}

.text-box-right {
    display: block;
    padding: 0px 0px 0px 91px;
    margin: 0px;
    text-align: left;
}
.icon{float: left;}
.ce-title{font-size: 3rem;}
.ce-title p{
  padding-bottom: 3rem;
}
.sec-title-container p{
  padding-top: 3rem;
}
/* end why choose us */

/* bg */
.tc-light-style {
    background: -webkit-linear-gradient( rgba(245, 245, 245, 1), rgba(245, 245, 245, 0.5)), url(.././images/tes-bg.jpg) 50% 0 no-repeat fixed;
    background: linear-gradient( rgba(245, 245, 245, 1), rgba(245, 245, 245, 0.5)), url(.././images/tes-bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}

#fh5co-pricing-section{padding-top: 3rem;}
.fh5co-heading{margin-bottom:2.5em;}
@media (min-width:992px) {
    .col-md-6{width: 50%;}
    .col-md-offset-3{margin-left:25%; }
}
#fh5co-pricing-section .price-box {
  height: 25rem;
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
.price-box span {
  display: block;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left:93%;
  right: 0;
}
.price-box span img {
  font-size: 40px;
  color: #00ADB5;
  border: 2px solid rgba(45, 64, 89, 0.1);
  padding: 15px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.price-box p{padding-top: 60px;}
.price-box.popular p{padding-top: 0;}
@media (max-width:442px) {
  .price-box span{top: 95%;left: 0%;}
}




#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  left: 30%;
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #009ae1;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
 #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left:none;
    height: 52px;
    width: 100%;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 91.5%;
    display: block;
    width: 1px;
    height: 11px;
    background: #000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 90%;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}

.navbar-fixed-top-re {
    top: 30px;
}
@media (max-width: 768px){
    .zx{right: -60px;}
.css {
    position: absolute;
    top: -30%;
}
#cssmenu {
    left: 0;
    background-color: #FFF;
}
.navbar-fixed-top-re {
    top: 0px;
}
}
